<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :type %>
  <%= number_input f, :type %>
  <%= error_tag f, :type %>

  <%= label f, :prev %>
  <%= text_input f, :prev %>
  <%= error_tag f, :prev %>

  <%= label f, :hash %>
  <%= text_input f, :hash %>
  <%= error_tag f, :hash %>

  <%= label f, :signature %>
  <%= textarea f, :signature %>
  <%= error_tag f, :signature %>

  <%= label f, :creator %>
  <%= textarea f, :creator %>
  <%= error_tag f, :creator %>

  <%= label f, :data %>
  <%= text_input f, :data %>
  <%= error_tag f, :data %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
