<h1>Listing Blocks</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Prev</th>
      <th>Hash</th>
      <th>Signature</th>
      <th>Creator</th>
      <th>Data</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for block <- @blocks do %>
    <tr>
      <td><%= block.type %></td>
      <td><%= block.prev %></td>
      <td><%= block.hash %></td>
      <td><%= block.signature %></td>
      <td><%= block.creator %></td>
      <td><%= block.data %></td>

      <td>
        <%= link "Show", to: Routes.block_path(@conn, :show, block) %>
        <%= link "Edit", to: Routes.block_path(@conn, :edit, block) %>
        <%= link "Delete", to: Routes.block_path(@conn, :delete, block), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Block", to: Routes.block_path(@conn, :new) %></span>
