<h1>Show Block</h1>

<ul>

  <li>
    <strong>Type:</strong>
    <%= @block.type %>
  </li>

  <li>
    <strong>Prev:</strong>
    <%= @block.prev %>
  </li>

  <li>
    <strong>Hash:</strong>
    <%= @block.hash %>
  </li>

  <li>
    <strong>Signature:</strong>
    <%= @block.signature %>
  </li>

  <li>
    <strong>Creator:</strong>
    <%= @block.creator %>
  </li>

  <li>
    <strong>Data:</strong>
    <%= @block.data %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.block_path(@conn, :edit, @block) %></span>
<span><%= link "Back", to: Routes.block_path(@conn, :index) %></span>
